<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115902229738-k9ke7squg3f7olqck0jhdokt7cqoukh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115902229738-k9ke7squg3f7olqck0jhdokt7cqoukh3</string>
	<key>API_KEY</key>
	<string>AIzaSyBjKeza6Dwd_9O0dUTYwDwsEiYKGIRrX38</string>
	<key>GCM_SENDER_ID</key>
	<string>115902229738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>avis-test-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>avis-test-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115902229738:ios:fa67243056a41339ef3b93</string>
</dict>
</plist>